/* Inicio Css Gerais */
.container {
  /* para ficar sem espaço o primeiro item da navbar */
  margin-left: 0;
}

.no_link {
  color: #000;
  text-decoration: none;
}

.bt-confirmar {
  /* botao de confirmaçao */
  background-color: #1d419d;
  color: #fff;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.bt-confirmar:hover {
  background-color: #0e9213 !important;
}

.bt-confirmar:active {
  background-color: rgba(72, 162, 106, 0.5) !important;
}

/* Fim Css Gerais */

/* Inicio painel de Cadastro geral */

.painel-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
}

.campo-cadastro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.campo-cadastro label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.campo-cadastro input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.area-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Fim painel de Cadastro geral */

/* Inicio cadastro de produto */

.campodescricao {
  resize: none;
  min-height: 100px;
  max-height: 100px;
  word-wrap: break-word;
}
/* Fim cadastro de produto */
