/* Inicio Css Gerais */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  /* para ficar sem espaço o primeiro item da navbar */
  margin-left: 0;
  max-width: 100%;
  height: auto;
}

.no_link {
  color: #000;
  text-decoration: none;
}

.bt-confirmar {
  /* botao de confirmaçao */
  background-color: #1d419d;
  color: #fff;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.bt-confirmar:hover {
  background-color: #0e9213 !important;
}

.bt-confirmar:active {
  background-color: rgba(72, 162, 106, 0.5) !important;
}

/* Fim Css Gerais */

/* Início HomePage */

.background-image {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0;
  background-image: url("/src/renderer/public/images/Background_PS.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mascot-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("/src/renderer/public/images/Mascote.png");
  background-repeat: no-repeat;
  background-position: left center;
  margin-left: 20%;
  /* subir a imagem */
  margin-top: -2%;

  /* background-position: calc(5% + 50px) calc(100% - 50px); */
  /* background-size: auto; */
}

/* Fim HomePage */

/* Inicio painel de Cadastro geral */

.painel-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
  user-select: none;
  cursor: default;
}

.campo-cadastro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.campo-cadastro label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.campo-cadastro input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.campo-cadastro textarea{
  resize: none;
  min-height: 100px;
  max-height: 100px;
  word-wrap: break-word;
}

.area-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Fim painel de Cadastro geral */

/* Inicio reducao de campo fornecedor e fabricante */
/* Fim reducao de campo fornecedor e fabricante  */

/* Inicio Navbar */

.nav-bar {
  user-select: none;
  cursor: default;
}

/* Fim Navbar */
