.painel-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 500px;
}

.campo-cadastro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.campo-cadastro label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.campo-cadastro input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.campodescricao {
  resize: none;
  min-height: 100px;
  max-height: 100px;
  word-wrap: break-word;
}
.area-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.botao-product {
  background-color: #1d419d;
  color: #fff;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.botao-product:hover {
  background-color: #0e9213 !important;
}

.botao-product:active {
  background-color: rgba(72, 162, 106, 0.5) !important;
}

.container {
  margin-left: 0;
}
